.sidebar a.setting {
    color: maroon;
    background-color: white;
}

table {
    text-align: justify;
    width: 100%;
    margin:0px;
}

.btn-edit-profile {
    width: 130px;
    color: maroon;
    background-color: white
}

.btn-edit-profile:hover {
    color: maroon;
    opacity: 0.95;
}





