.sidebar a.partner {
    color: maroon;
    background-color: white;
}

table {
    text-align: justify;
    width: 100%;
    margin:0px;
}

.page-comp-inner-pt {
    border-radius: 8px;
    padding: 28px;
    min-height: 80vh;
    height: fit-content;
}

.page-comp-inner-pt a {
    text-decoration: none;
}

.page-comp-inner-pt div.pci-txt {
    margin-top:12px;
    padding: 10px; /*
    background-color: #fafafa;*/
    height: fit-content;
    min-height: 100px;
    border-radius: 6px;
}




